/* ESTILOS GENERALES */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: indigo;
}

/* SECCION BARRA DE NAVEGACION */


/* SECCION INICIO */

.inicio {
    margin-top: 30px;
    padding: 40px 40px 80px 40px;
    justify-content:center;
}
.inicio .carousel {
    max-width: 800px;
}
.carousel-item {
    height: 500px;
}
.carousel-item .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inicio-imgagen {
    height: 150px;
    width: 150px;
    margin: 10px 10px 20px 10px;
}

/* SECCION ARTE */
        
.galeria-pinturas {
    padding: 20px; 
} 
.galeria-pinturas img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
}
.pinturas-contenedor {
    padding-top: 60px;
    margin-bottom: 40px;
} 
.overlay {
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
} 
.overlay p {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0;
} 
.overlay .iconos-contenedor {
    display: flex;
} 
.overlay i {
    color: black;
    font-size: 20px;
    margin: 10px;
} 
.pintura:hover img {
    opacity: 0.2;
}
.pintura:hover .overlay {
    opacity: 1;
}
.pintura {
    position: relative;
}

/* SECCION ARTISTAS */

.artistas-imagen {
    max-height: 50px;
    max-width: 50px;
}


/* SECCION QUIENES SOMOS */

.quienessomos {
    padding: 20px;
} 
.quienessomos img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    display: block;
}
.card {
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

/* SECCION CONTACTO */


/* SECCION PIE DE PAGINA */
.pie-de-pagina a p {
    color: white;
}
.pie-de-pagina i {
    color: white;
}


/* BREAKPOINTS */

@media screen and (min-width: 769px) {
    .listafooter1 {
        justify-content: start;
    }
    .listafooter3 {
        justify-content: end;
    }
}

